# Puerto del servidor
PORT=4000

# Clave secreta para firmar los Tokens JWT (Cambia esto por una clave segura)
JWT_SECRET=

# URL de conexión a tu base de datos PostgreSQL
# Formato: postgresql://USUARIO:PASSWORD@HOST:PUERTO/NOMBRE_DB?schema=public
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/generador_banners_db?schema=public"
PASSWORD_SUPABASE=

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL=

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL=
OPENAI_API_KEY=
OPENAI_IMAGE_MODEL= # Puedes cambiarlo a "gpt-image-2" o la versión que tengas activa en tu API
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_CLIENT_ID=

CLIENT_URL=